body {
  background-color: #282c34;
}
h3{
    color: #fff;

}
.card-body .btn {
  margin: 6px 4px !important;
}
.price{
  font-style: oblique;
}

.category{
  color: initial;
}

form .btn {
  margin: 0px 8px !important;
}
.row {
  margin-right: 0px;
}
